<div  class="container header-container" data-ng-controller="HeaderController">
    <div class="header page mobile-header">
        <header class="header__container layout--flush">
            <a id="left-menu" ng-click="toggleMenu('left')" class="showMenu header__border-link header__link layout__item three-twelfths">
                    <span class="icon-menu"></span>
            </a><!--
              --><a href="/#!/" class="header__link header__title layout__item six-twelfths"">Eventure</a><!--
                          --><a id="right-menu" ng-click="toggleMenu('right')" class="showMenu header__border-link header__link layout__item three-twelfths">
                  <span class="icon-user"></span>
        </a>
        </header>
    </div>
    <!-- off side menu -->
    <div id="remote-left-menu" ng-class="menuClassLeft" ng-swipe-left="toggleMenu('left')" class="sidebar-menu left">
        <nav class="navigation">
            <ul class="navigation-list" data-ng-if="menu.shouldRender(authentication.user);">
                <li class="navigation-list--item" data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                        <p data-ng-bind="item.title"></p>
                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li data-ng-repeat="subitem in item.items | orderBy: 'position'"  data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                            <a ng-click="toggleMenu('left', '/{{subitem.link}}')" data-ng-bind="subitem.title"></a>
                        </li>
                    </ul>
                    <a ng-switch-default  ng-click="toggleMenu('left', '/{{item.link}}')" data-ng-bind="item.title"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="remote-right-menu" ng-class="menuClassRight" ngSwipeRight="toggleMenu('right')"     class="sidebar-menu right">
        <nav class="navigation">
            <ul class="navigation-list" data-ng-show="authentication.user">
                        <div class="profile">
                            <span data-ng-bind="authentication.user.displayName"></span>
                            <img class="profilePicture" ng-src="{{authentication.user.profileImage}}" alt=""/>
                        </div>

                        <li class="navigation-list--item">
                            <a ng-click="toggleMenu('right', '/settings/profile')" >Modifier mon profil</a>
                        </li>
                        <li class="navigation-list--item">
                            <a href="/auth/signout" >Se déconnecter</a>
                        </li>
            </ul>
        </nav>
    </div>
    <!-- off side menu END -->
</div>