<section class="signin" data-ng-controller="AuthenticationController">
    <div class="sail">
        <div class="signin-section">
            <h3>Vous possédez déja un compte ?</h3>
            <form data-ng-submit="signin()" autocomplete="off">
                <fieldset>
                        <input type="text" id="username" name="username" data-ng-model="credentials.username" placeholder="Nom d'utilisateur">
                        <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Mot de passe">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    <div class="forgot-password">
                        <a href="/#!/password/forgot">Mot de passe oublié <span class="icon-error"></span></a>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="signin-section">
            <h3>Vous ne possédez pas encore de compte</h3>
            <a class="register" href="/#!/signup">S'enregistrer</a>
        </div>
        <div class="signin-section">
            <h3>S'enregistrer avec votre réseau social préféré</h3>
            <a class="entry entry-fb" href="/auth/facebook">Facebook</a>
            <a class="entry entry-tw" href="/auth/twitter">Twitter</a>
        </div>
    </div>
</section>