@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-colors/generic.colors";

@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";
@import "bower_components/inuit-view/base.view";

@import "bower_components/inuit-mixins/tools.mixins";

@import "bower_components/inuit-icon-font/generic.icon-font";

@import "bower_components/inuit-wrapper/objects.wrapper";
@import "bower_components/inuit-dialogBox/objects.dialogBox";
@import "bower_components/inuit-posts/objects.posts";
@import "bower_components/inuit-layout/objects.layout";
@import "bower_components/inuit-header/objects.header";
@import "bower_components/inuit-sidebar/objects.sidebar";
@import "bower_components/inuit-nav/objects.nav";
@import "bower_components/inuit-wrapper/objects.wrapper";
@import "bower_components/inuit-loader/objects.loader";
@import "bower_components/inuit-buttons/objects.linkButtons";



@import "bower_components/inuit-widths/trumps.widths";

html{
  position: relative;
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  background-color: $dark;
}

/* single property*/

.content{
  .container{
    height: 100%;
    section:first-child{
      height: 100%;
    }
  }
  height: 100%;
}

.profilePicture{
  border-radius: 50%;
}

.left{
  float: left;
}

h2{
  font-size: 1.2em;
}


