<section class="signin" data-ng-controller="SettingsController">
    <div class="sail">
        <div class="signin-section">
            <h3>Edit your profile</h3>
            <img class="profilePicture profilePicture-center" ng-src="{{profilePicture}}" alt=""/>
            <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Nom d'utilisateur">
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-large btn-primary">Modifier mon profil</button>
                    </div>

                    <div data-ng-show="success" class="text-center text-success">
                        <strong>Profile Saved Successfully</strong>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
                <div class="forgot-password">
                    <a href="/#!/settings/password" class="btn btn-large btn-primary">Changer de mot de passe</a>
                </div>
            </form>
            <a ng-show="ispP" class="link-buttons" href="/#!/settings/accounts">Ajouter une photo</a>
        </div>
    </div>
</section>