<section class="top-wrapper signin" data-ng-controller="SettingsController">
    <div class="sail">
        <div class="signin-section">
            <h3>Se connectez à un réseau social:</h3>
            <br/>
            <a href="/auth/facebook" data-ng-hide="isConnectedSocialAccount('facebook')" class="entry entry-fb">Facebook
            </a>
            <a href="/auth/twitter" data-ng-hide="isConnectedSocialAccount('twitter')" class="entry entry-tw">Twitter
            </a>
            <br/>
            <div class="forgot-password">
                <a href="/#!/signin" class="show-signup">Retour à ma page de profil <span class="icon-chevron-left"></span></a>
            </div>
        </div>
    </div>
</section>