<section data-ng-controller="EvenementsController" data-ng-init="createDisplay()">
    <div class="event event-create">
        <form  data-ng-submit="create()" enctype="multipart/form-data" style="background: url('{{imageSrc}}') no-repeat center fixed;" novalidate>
            <fieldset ng-class="{bckgImageTrue: imageSrc}">
                <div>
                    <label class="control-label" for="evenement.name">Nom du nouvel évenement</label>
                    <div>
                        <input type="text" data-ng-model="evenement.name" id="evenement.name" class="form-control" placeholder="Ex: House party..." required>
                    </div>
                    <label class="control-label" for="evenement.description">Description de l'évenement</label>
                    <div>
                        <input type="text" data-ng-model="evenement.description" id="evenement.description" class="form-control" placeholder="Ex: The party of your life...">
                    </div>


                    <label class="control-label" for="evenement.coverImage">Visuel de l'évenement</label>
                    <div class="image-input">
                        <div class="select">
                            <input type="file" ng-file-select="onFileSelect($files)" accept="image/*"  data-ng-model="evenement.coverImage" id="evenement.coverImage" class="form-control">
                        </div>
                        <div class="preview-thumbnail">
                            <img id="image-preview" class="preview" style="position: relative; left:-{{((originalWidth/(originalHeight/80))-80)/2}}px; top:-{{((originalHeight/(originalWidth/80))-80)/2}}px;" ng-class="{reverseDim: originalWidth < originalHeight, originalDim: originalWidth > originalHeight}" ng-src="{{imageSrc && imageSrc || defaultEventCover}}" />
                        </div>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.beginDate">Date de début</label>
                        <input type="date" data-ng-model="evenement.beginDate" id="evenement.beginDate" class="form-control" required>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.beginTime">Heure de début</label>
                        <input type="time" data-ng-model="evenement.beginTime" id="evenement.beginTime" class="form-control" required>
                    </div>

                    <div class="one-half left">
                        <label class="control-label" for="evenement.endDate">Date de fin</label>
                        <input type="date" data-ng-model="evenement.endDate" id="evenement.endDate" class="form-control" required>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.endTime">Heure de fin</label>
                        <input type="time" data-ng-model="evenement.endTime" id="evenement.endTime" class="form-control" required>
                    </div>

                </div>
                <div class="guests">
                    <div class="guests-filter">Rechercher: <input type="text" ng-model="searchText" /></div>
                    <div>
                        <label ng-repeat="guest in guests | filter:searchText | filter:notMe(guests) | limitTo: limit">
                            <input type="checkbox" name="selectedGuests[]" ng-model="guest.selected" value="{{guest._id}}">{{guest.displayName}}<br>
                        </label>
                    </div>
                    <button type="button" ng-hide="guests.length <= limit" ng-click="incrementLimit()">+ Voir plus</button><button type="button" ng-hide="limit <= limitStep" ng-click="decrementLimit()">-</button>
                </div>
                <div class="map" data-ng-init="googleMapPointer()">
                    <label class="control-label" for="pac-input">Localisation</label>
                    <input id="pac-input" class="controls" type="text" placeholder="Ex: Bruxelles">
                    <!--
                                        <div style="height: 20px" id="map-canvas"></div>
                    -->
                </div>
                <div class="form-group">
                    <input type="submit" class="link-buttons">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>


            </fieldset>
        </form>
    </div>
</section>