<section class="top-wrapper" data-ng-controller="EvenementsController" data-ng-init="createDisplay()">
    <div class="event event-create">
        <form  data-ng-submit="create()" enctype="multipart/form-data" style="background: url('{{imageSrc}}') no-repeat center fixed;" novalidate>
            <fieldset ng-class="{bckgImageTrue: imageSrc}">
                <div>
<!--
                    <label class="control-label" for="evenement.name">Nom du nouvel événement</label>
-->
                    <div class="no-label">
                        <input type="text" data-ng-model="evenement.name" id="evenement.name" class="form-control" placeholder="Nom du nouvel évenement" required>
                    </div>
<!--
                    <label class="control-label" for="evenement.description">Description de l'évenement</label>
-->
                    <div class="no-label">
                        <input type="text" data-ng-model="evenement.description" id="evenement.description" class="form-control" placeholder="Description de l'évenement">
                    </div>


<!--
                    <label class="control-label" for="evenement.coverImage">Visuel de l'évenement</label>
-->
                    <div class="image-input no-label">
                        <div class="select">
                            <input type="file" capture="camera" ng-file-select="onFileSelect($files)" accept="image/*"  data-ng-model="evenement.coverImage" id="evenement.coverImage" class="form-control">
                        </div>
                        <div class="preview-thumbnail">
                            <img id="image-preview" class="preview" style="position: relative; left:-{{((originalWidth/(originalHeight/80))-80)/2}}px; top:-{{((originalHeight/(originalWidth/80))-80)/2}}px;" ng-class="{reverseDim: originalWidth < originalHeight, originalDim: originalWidth > originalHeight}" ng-src="{{imageSrc && imageSrc || defaultEventCover}}" />
                        </div>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.beginDate">&nbsp;<span class='icon-calendar'></span>&nbsp;Date de début</label>
                        <input type="date" data-ng-model="evenement.beginDate" id="evenement.beginDate" class="form-control" required>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.beginTime">&nbsp;<span class='icon-clock'></span>&nbsp;Heure de début</label>
                        <input type="time" data-ng-model="evenement.beginTime" id="evenement.beginTime" class="form-control" required>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.endDate">&nbsp;<span class='icon-calendar'></span>&nbsp;Date de fin</label>
                        <input type="date" data-ng-model="evenement.endDate" id="evenement.endDate" class="form-control" required>
                    </div>
                    <div class="one-half left">
                        <label class="control-label" for="evenement.endTime">&nbsp;<span class='icon-clock'></span>&nbsp;Heure de fin</label>
                        <input type="time" data-ng-model="evenement.endTime" id="evenement.endTime" class="form-control" required>
                    </div>

                </div>
                <div class="guests list-users">
                    <div class="guests-filter">
                        <input id="search-user" class="no-label" type="text" ng-model="searchText" placeholder="Rechercher des personnes que vous connaissez"/>
                    </div>
                    <div class="list-users">
                        <span class="list-users-item"
                              ng-repeat="guest in guests | filter:searchText | filter:notMe(guests) | limitTo: limit">
                            <label class="displayName">
                                <img class="profilePicture" ng-src="{{guest.profileImage  && guest.profileImage || defaultUserCover}}" alt=""/>
                                <input class="displayName-input" type="checkbox" name="selectedGuests[]" ng-model="guest.selected" value="{{guest._id}}"><p>{{guest.firstName}} {{guest.lastName}}</p>
                            </label>
                        </span>
                    </div>
                    <button type="button" class="link-buttons" ng-hide="guests.length <= limit" ng-click="incrementLimit()">+ Voir plus</button><button type="button" ng-hide="limit <= limitStep" ng-click="decrementLimit()">-</button>
                </div>
                <div class="map no-label" data-ng-init="googleMapPointer()">
                    <input id="pac-input" class="controls" type="text" placeholder="Localisation de l'évenement">
                    <!--
                                        <div style="height: 20px" id="map-canvas"></div>
                    -->
                </div>
                <div class="form-group">
                    <input type="submit" class="link-buttons">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>


            </fieldset>
        </form>
    </div>
</section>